@import "tailwindcss";
@import "variables.scss";

html {
    scroll-behavior: smooth;
}

h2 {
    font-family: $montserrat-bold;
}

h3 {
    font-family: $montserrat-medium;
}

h4 {
    font-size: 42px;
    color: $blue-title;
    font-family: $montserrat-bold;
}

p, li, a, input, textarea, .regular {
    font-family: $montserrat-regular;
}

strong, .medium {
    font-family: $montserrat-medium;
}

.bluet {
    color: $blue-title;
}

.bold {
    font-family: $montserrat-bold;
}

.swiper-button-next, .swiper-button-prev {
    background-color: #01222cd0;
    height: 55px !important; 
    width: 50px !important;
    border-radius: 5px;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    background-color: #01222c76;
    transition-duration: 400ms;
}


.swiper-button-next::after, .swiper-button-prev::after {
    color: #FFFFFF;
}

#header-nav {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 400px;
  }
  
  @keyframes blur {
    to {
      background: #01222c53;
      backdrop-filter: blur(7px);
    }
  }

@media (max-width: 800px) {
    h4 {
        font-size: 35px;
    }
}