@import "tailwindcss";
@import "variables.scss";

html {
    scroll-behavior: smooth;
}

h2 {
    font-family: $montserrat-bold;
}

h3 {
    font-family: $montserrat-medium;
}

h4 {
    font-size: 42px;
    color: $blue-title;
    font-family: $montserrat-bold;
}

p, li, a, input, textarea, .regular {
    font-family: $montserrat-regular;
}

strong, .medium {
    font-family: $montserrat-medium;
}

.bluet {
    color: $blue-title;
}

.bold {
    font-family: $montserrat-bold;
}